<div class="bg-white">
  <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
          <div class="col-lg-6">
              <h1 class="display-6">Dirceu Gonçalves</h1>
              <address>
                <p><span class="color:blue"><i class="fa fa-address-card"></i></span></p>
                <p>Rua Corinto, 199 - Apto 142 - Ed. Manacá</p>
                <p>Vila Universitária - São Paulo - SP</p>
                <p>05586-090</p>
                <p><i class="fa fa-phone"></i> (11) 9 4030-1052</p>
                <a href="mailTo:dirceusg@outlook.com">dirceusg@outlook.com</a>
              </address>
          </div>
          <div class="col-lg-6 d-none d-lg-block"><img
                  src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt=""
                  class="img-fluid"></div>
      </div>
  </div>
</div>



