<div class="bg-white">
  <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
          <div class="col-lg-6">
              <h1 class="display-6">Dirceu Gonçalves</h1>
              <p class="lead text-muted mb-0" style="text-align: justify;">Trabalhando com desenvolvimento de aplicações para diversos segmentos desde de 2002 tenho grande experiência em aplicações voltadas para automatização de processos, aplicativos de controle, atendimento e App para plataforma Android e IOS.</p>
          </div>
          <div class="col-lg-6 d-none d-lg-block"><img
                  src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/illus_kftyh4.png" alt=""
                  class="img-fluid"></div>
      </div>
  </div>
</div>
<div class="bg-light py-5">
  <div class="container py-5">
      <div class="row mb-4">
          <div class="col-lg-10">
              <h2 class="display-4 font-weight-light">Experiência Profissional</h2>
              <p class="font-italic text-muted">Algumas empresas por qual eu passei, e as atividades nelas desenvolvidas.</p>
          </div>
      </div>

      <div class="row text-center">
          <!-- Team item-->
          <div class="col-xl-6 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4">
                  <h5 class="mb-0">Unidas | 2019 – atual</h5>
                  <span class="small text-uppercase text-muted">Analista Sistemas</span>
                  <ul style="text-align: left;">
                    <li>Desenvolvimento .NET Core de APIs diversas</li>
                    <li>Integrações de sistemas legados com o sistemas novos</li>
                    <li>Criação e manutenção de base de dados SQL Server</li>
                  </ul>
              </div>
          </div>
          <!-- End-->

          <!-- Team item-->
          <div class="col-xl-6 col-sm-6 mb-5">
            <div class="bg-white rounded shadow-sm py-5 px-4">
                <h5 class="mb-0">Grupo Habib’s| 2002 – 2014</h5>
                <span class="small text-uppercase text-muted">Analista Sistemas</span>
                <ul style="text-align: left;">
                  <li>Mapeamento de processos em diversas áreas da empresa</li>
                  <li>Implementação de indicadores</li>
                  <li>Criação de sistemas para sustentar os processos da empresa.</li>
                </ul>
            </div>
        </div>
        <!-- End-->

      </div>
  </div>
</div>

<div class="bg-white py-5">
  <div class="container py-5">
      <div class="row align-items-center mb-5">
          <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
              <h2 class="font-weight-light">Habilidades</h2>
              <p class="font-italic text-muted mb-4">Sólidos conhecimentos Front-End.</p>
                  <ul style="text-align: left;">
                    <li>Bootstrap - Jquery - Javascript</li>
                    <li>React</li>
                    <li>React-Native</li>
                    <li>Angular</li>
                    <li>Html5 - Css - MVC</li>
                  </ul>
          </div>
          <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img
                  src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt=""
                  class="img-fluid mb-4 mb-lg-0"></div>
      </div>
      <div class="row align-items-center">
          <div class="col-lg-5 px-5 mx-auto"><img
                  src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt=""
                  class="img-fluid mb-4 mb-lg-0"></div>
          <div class="col-lg-6"><i class="fa fa-cogs fa-2x mb-3 text-primary"></i>
              <h2 class="font-weight-light">Back-end</h2>
              <p class="font-italic text-muted mb-4">Sólidos conhecimentos Back-end.</p>
              <ul style="text-align: left;">
                <li>.NET FullFremework</li>
                <li>.NET Core</li>
                <li>C# - PHP - Java</li>
                <li>SQL Server - Oracle</li>
                <li>Node JS</li>
              </ul>
          </div>
      </div>
  </div>
</div>

